body {
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

h1 {
  margin: 0;
  padding: 15px;
  text-align: center;
  background: red;
  color: black;
  text-shadow: 2px 2px yellow;
  font-size: 32px;
}

#map {
  height: 90vh;
}

/* ピン */
.pin {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #333;
}

.nature {
  background: green;
}

.history {
  background: orange;
}

.food {
  background: yellow;
}

/* ポップアップ */
.popup-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.popup-title.nature {
  color: green;
}

.popup-title.history {
  color: orange;
}

.popup-title.food {
  color: goldenrod;
}

.popup-img {
  width: 200px;
  border-radius: 8px;
}
